{
	admin localhost:2019
}

{$PANEL_SITE_ADDRESS::8080} {
	encode zstd gzip
	reverse_proxy panel:3000
	header {
		X-Content-Type-Options nosniff
		Strict-Transport-Security "max-age=31536000"
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		-Server
		Permissions-Policy "camera=(), microphone=(), geolocation=(), payment=(), usb=()"
	}
}
